.home_page_info_container {
  position: relative;
  width: 100%;
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_page_info_logo{
  margin-bottom: 20px;
  width: 70px;
}

.home_page_info_item{
  margin-top: 5px;
}