.signup_container {
  width: 100%;
  height: calc(100vh - 400px);
  max-width: 80%;
  margin: 80px auto;
  text-align: center;
}

.sign_images_container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border: 1px solid #81cc85;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  color: gray;
  font-size: 12px;
}

.sign_profile {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.user_image {
  display: block;
  border: 1px solid transparent;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.signup_input_container {
  display: flex;
  width: 212px;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px auto;
}

.signup_input_container span {
  font-size: 10px;
  font-weight: 400;
  color: red;
}

.signup_input_container label {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: -5px;
  font-size: 16px;
  font-weight: 700;
}

.input_block {
  display: inline;
}

.nick_name_container{
  display: flex;
  align-items: flex-end;
}

.double_check{
  margin-left: 10px;
  width: 70px;
  height: 31px;
  border: 0.5px solid #81cc85;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.double_check:active {
  box-shadow: none;
}

.signup_button {
  width: 100px;
  height: 30px;
  margin: 0 5px 0 5px;
  border-radius: 8px;
  background-color: #81cc85;
  color: white;
  border: none;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.signup_button:active {
  box-shadow: none;
}