.nav_container {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: white;
  color: #81cc85;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
}

.nav_position {
  box-sizing: border-box;
  position: fixed;
  padding: 0 40px 0 40px;
}

.logo_main_container {
  width: 300px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo_container {
  /* width: 60px; */
  /* height: 60px; */
  display: flex;
  /* border-radius: 50%; */
  justify-content: center;
  align-items: center;
  background-color: white;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50); */
}

.logo {
  width: 30px;
  height: auto;
  transform: rotate(-10deg);
}

.logo_title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  color: #81cc85;
}

.nav_search_container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 600px;
}

.nav_search_input{
  padding-left: 35px;
  margin-right: 10px;
  width: 300px;
  height: 40px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #81cc85;
  outline-color: #81cc85;
  background-image: url('/public/images/search1.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}

.login_button {
  width: 80px;
  height: 40px;
  border: 1px solid #81cc85;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: transparent;
  color: black;
  font-size: 16px;
  cursor: pointer;
  line-height: 24px;
}

.nav_menu_list_login{
  display: none;
}

.nav_search_small_close{
  display: none;
}

.nav_menu_small {
  display: none;
}

.nav_search_small{
  display: none;
}
.nav_search_label img {
  display: none;
}

.nav_checkbox_label img {
  display: none;
}

.menu_list {
  width: 80%;
}

.menu_list ul {
  display: flex;
  list-style: none;
  padding-left: -10px;
  justify-content: flex-start;
}

.menu_list ul li {
  margin: 0 20px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.70);
}

.menu_list ul li:hover {
  color: rgba(0, 0, 0, 0.40);
}

.dropdown {
  position: absolute;
  color: white;
  top: 65px;
  right: 20px;
}

.dropdown ul {
  list-style: none;
}

.dropdown li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: gray;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 1200px) {
  .login_button2 {
    display: none;
  }

  .icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_menu_list_login{
    display: block;
  }

  .nav_search_container{
    display: none;
    position: absolute;
    width: 300px;
    right: 150px;
    margin-right: 20px;
  }

  .nav_search_small_close{
    display: block;
    font-size: 24px;
    margin-right: 20px;
    color: #000;
  }

  .nav_search_label img {
    display: block;
    margin-right: 20px;
  }

  .nav_search_small {
    display: none;
  }

  .menu_list {
    visibility: hidden; 
    position: absolute;
    left: 0;
    top: 70px;
    background-color: white;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    z-index: 1000;
    height: 0px;
    transition: all 0.4s;
  }

  .menu_list ul li{
    visibility: hidden;
  }

  .nav_search_label{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .nav_checkbox_label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .nav_checkbox_label img {
    display: block;
  }

  .nav_menu_small {
    display: none;
  }

  .nav_search_small:checked~.nav_search_container {
   display: block;
  }

  .nav_menu_small:checked~.menu_list {
    visibility: visible;
    height: 100px;
  }

  .nav_menu_small:checked~.menu_list ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .nav_menu_small:checked~.menu_list ul li {
    visibility: visible;
    display: flex;
    margin-left: 0;
    padding-left: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .nav_menu_small:checked~.menu_list ul li:hover {
    background-color: rgba(0, 0, 0, 0.20);
  }

  .overlay {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 검은색 반투명 배경 */
    z-index: 999;
    /* 다른 요소 위에 표시하기 위해 높은 z-index 값 설정 */
  }
}

@media screen and (max-width: 715px) {
  .nav_search_small:checked~.logo_main_container .logo_container {
      display: none;
  }
     .nav_search_small:checked~.logo_main_container .logo_title_container {
       display: none;
     }
}